Outbound/EGGSMPP/Service References/ConMO/ConMO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PostSmartMO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="body" type="tns:SmartMOStr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SmartMOStr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MSISDN" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShortCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransactionID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ServiceID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TelcoID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReceiveDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="RetryCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>